[Unit]
Description=Executa sincronizar sockets lidos amostragem_mb
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pi/automacao/sincroniza_socket_amostragem_mb.py'
WorkingDirectory=/home/pi/automacao
Restart=always
User=root

[Install]
WantedBy=multi-user.target