[Unit]
Description=Executa o script cancelas_vln_saida.py
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pi/automacoes/cancelas_vln_saida.py'
WorkingDirectory=/home/pi/automacoes
Restart=always
User=root

[Install]
WantedBy=multi-user.target
