[Unit]
Description=Executa sincronizar sockets lidos saida_vln
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pi/automacao/sincroniza_socket_saida_vln.py'
WorkingDirectory=/home/pi/automacao
Restart=always
User=root

[Install]
WantedBy=multi-user.target
