[Unit]
Description=Executa o servidor socket balanca 2 / Amostragem
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pi/automacao/servidor_socket_balanca2.py'
WorkingDirectory=/home/pi/automacao
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
