[Unit]
Description=Executa sincronizar sockets lidos
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/rock/automacao/sincroniza_socket_balanca1.py'
WorkingDirectory=/home/rock/automacao
Restart=always
User=rock

[Install]
WantedBy=multi-user.target
