[Unit]
Description=Executa pings da rede_quarenta_xx
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pc/automacao/pings/rede_quarenta_xx.py'
WorkingDirectory=/home/pc/automacao/pings
Restart=always
User=root

[Install]
WantedBy=multi-user.target
