[Unit]
Description=Executa o servidor socket da amostragem vl
After=network.target

[Service]
ExecStart=/bin/bash -c 'python3 -u /home/pi/automacao/servidor_socket_amostragem_vl.py'
WorkingDirectory=/home/pi/automacao
Restart=always
User=root

[Install]
WantedBy=multi-user.target
