{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -20.6621,
    "longitude": -43.784,
    "elevation": 867,
    "unit_system_v2": "metric",
    "location_name": "Minha Casa",
    "time_zone": "America/Sao_Paulo",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "pt-BR"
  }
}